<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/spiky-invention-2767/FRONTEND/styles/navbar.css">

</head>

<body>
    <nav>
        <label>
            <input type="checkbox">
            <div class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </div>

            <div class="slider">
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="../html/ourfood.html">OUR FOOD</a></li>
                    <li><a href="../html/catering.html">CATERING</a></li>
                    <li><a href="../html/loco_rewards.html">LOCO REWARDS</a></li>
                    <li><a href="../html/giftcard.html">GIFT CARDS</a></li>
                    <li><a href="">THIS IS L.A MAX</a></li>
                    <li><a href="">OUR STORY</a></li>
                    <li><a href="">CAREERS</a></li>
                    <li><a href="">FRANCHISING</a></li>
                </ul>
            </div>
        </label>
        <div class="icon">
            <div class="barbecue-logo-upper-text">
                <p class="barbecue-logo-upper-text-para">BARBECUE</p>
            </div>
            <hr>
            <div class="barbecue-logo-lower-text">
                <p class="barbecue-logo-upper-text-para">SMOKE & GRILL</p>
            </div>
        </div>
        <div>
            <div><a href="../html/googleMap.html"><i style="color: red; font-size: 2rem;"
                        class="fa-solid fa-location-pin"></i></a></div>
            <div><a href="../html/orderNow.html"><button class="order_now_button">ORDER NOW</button></a></div>
        </div>
    </nav>
</body>

</html>